
.btn {
    border: 1px solid black;
    background-color: #0097b2;
    color: white;
    font-weight: 600;
    width: fit-content;
    display: block;
    margin: auto;
}
.btn:hover {
   background-color: black;
   color: white;
}

#loginPage {
    border-radius: 15px;
}